<!DOCTYPE html>
<html>
<head>

<title>Admin Page</title>
<link type="text/css" href="adminhome.css" rel="stylesheet"/>
</head>
<body>
<div class="con1">
<h1>Welcome Admin</h1>

<form action="song" >
<input type="submit" value="Add song"/>
</form>
<br>
<form action="viewsong">
<input type="submit" value="Play song"/>
</form>
<br>
<form action="createplaylists" method="get">
<input type="submit" value="Create Playlist"/>
</form>
<br>
<form action="viewplaylist"  >
<input type="submit" value="View Playlist"/>
</form>
<br>
<form action="logout">
<input type="submit" value="logout"/>
</form>
</div>
</body>
</html>